$primary-color: #be0000;

html, body {
    height: 100%;
    overflow: hidden;  
}
  
.parallax { 
    margin:0;
    padding:0;
    perspective: 1px; 
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;  
}

.navbar {
    background-color: rgba(230, 230, 230, 0.92) !important;
    padding: 10px 20px;

    a:hover {
        color: $primary-color !important;
    }
}

