$primary-color: #be0000;
$perspective: 1px;
$distance-h1: .25px;
$distance-y-1: 0;
$distance-y-2: -40%;
$distance-y-3: -100%;
$distance-z-1: .2px;
$distance-z-2: .3px;
$distance-z-3: .4px;
$rotation-1: -5deg;
$rotation-2: 2deg;
$rotation-3: 7deg;

$cc-w-rel: 100vw * .7;
$cc-w-abs: 500px;
$cc-aspect-ratio: .6;
$cc-h1-w-factor: .8 / 4;
$cc-a-w-factor: .8 / 13;



@mixin shadow {
    box-shadow: 1px 1px 8px #000000a1;   
}

@mixin background-color {
    background-color:  #f0f0f0;
}

@mixin move($distance-y, $distance-z, $rotation) {
    transform: translateY($distance-y)
               translateZ($distance-z)
               scale(($perspective - $distance-z) / $perspective)
               rotate($rotation);   
}

@mixin absolute-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
}

html, body {
    height: 100%;
    overflow: hidden;  
}
  
.parallax { 
    margin:0;
    padding:0;
    perspective: $perspective; 
    transform-style: preserve-3d;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;  
}

.parallax-container {
    transform-style: inherit;
}

.navbar {
    background-color: rgba(230, 230, 230, 0.92) !important;
    padding: 10px 20px;

    a:hover {
        color: $primary-color !important;
    }
}

.navbar-compensation {
    padding-top: 60px;
    margin-top: -60px;
}

.min-height {    
    min-height: calc(100vh - 60px);
}

.photo {
    display: block;
    width: 70%;
    margin: 20px auto;
    @include shadow; 
}

.content {
    width: 95%;
    margin: 0 auto 68px auto;
    background: #f0f0f0;
    @include shadow;
    padding: 30px; 
}

p {
    font-size: calc(1rem + 0.25vw);
}

.big-title {
    position: relative;
    height: calc(100vh - 60px);
    border-top: 1px solid black;
    border-bottom: 1px solid black;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%)
                    translateZ($distance-h1) scale(($perspective - $distance-h1) / $perspective);
   
        font-size: calc(4rem + 5vw);
        color: $primary-color;
        text-shadow: 3px 3px 2px #000000b1;
    }
}



.title {
    text-align: center;
    margin: 60px 0 60px 0;
}

/*#hobby,
#lavoro {
    .photo {
        width: 50%;        
    }
}*/

.photo {
    position: relative;
}

.photo-1 {
    left: -5%;
    @include move($distance-y-1, $distance-z-1, $rotation-1);
    z-index: 1;        
}

.photo-2 {
    @include move($distance-y-2, $distance-z-2, $rotation-2);
    z-index: 2;

}

.photo-3 {
    right: -5%;
    @include move($distance-y-3, $distance-z-3, $rotation-3);
    z-index: 3;
}

.photo-container {
    margin-bottom: -25vh;
}

#coming-soon {
    background-color: #c9c9c9;

    h1 {
        text-align: center;
        font-size: calc(3rem + 3vw);
        color: $primary-color;       
    }
}

img.logo {
    display: block;
    width: 25vh;
    height: auto;
    margin: 0 auto;      
}

@for $i from 1 through 10 {
    $distance-z-logo: $i * 0.05px;

    img.logo-#{$i}{       
        transform: translateZ($distance-z-logo)
                   scale(($perspective - $distance-z-logo) / $perspective);        
    }
}

#contatti .parallax-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calling-card {
    position: relative;
    width: $cc-w-rel;
    height: $cc-w-rel * $cc-aspect-ratio;
    @include shadow;
    transition: 1s ease-in-out;
    transform-style: preserve-3d;
}

.cc-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
    transform-style: preserve-3d;
    backface-visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    h1 {
        font-size: $cc-w-rel * $cc-h1-w-factor;
        color: $primary-color;
    }
   
    

    img {
        width: 100%;
    }
}

.cc-front {
    z-index: 2;
    @include background-color;
}

.cc-back {
    transform: rotateY(180deg);
    z-index: 0;
    @include background-color;

    flex-direction: column;

    img {
        width: $cc-w-rel * $cc-a-w-factor;
    }

    a {
        font-size: $cc-w-rel * $cc-a-w-factor;
    }
}


.calling-card:hover {
    transform: rotateY(180deg);
}

@media only screen and 
    (max-width: 991px) and
    (orientation: landscape) {

        .photo {
             width: 40%;                            
        }

        .content {
            width: 60%;
        }
}

@media only screen and (min-width: 992px) {    
    .content {
        width: 80%;
        margin-top: 20px;
    }

   .photo {
        width: 80%;
        transform-origin: 100% 50%;
    }
    
    section.photo-alternate .row:nth-of-type(2n) > {
        div:nth-of-type(1) {
            order: 1;

            .photo {
                transform-origin: 0% 50%;
            }
        }
    
        div:nth-of-type(2) {
            order: 0;
        }
    }

    @for $i from 1 through 3 {
        @for $j from 1 through $i {
            $mv: 20px;
            $ml: auto;
            $mr: auto;      
    
            @if $i == 2 {
                @if $j == 1 {
                    $mr: 10px;
                }
                @if $j == 2 {
                    $ml: 10px;
                }
            }
    
            @if $i == 3 {
                @if $j == 1 {
                    $mr: 10px;
                }
                @if $j == 3 {
                    $ml: 10px;
                }
            }
    
            img.logo-#{$j}-of-#{$i} {
                margin: $mv $mr $mv $ml;
            }
        } 
    }

    .calling-card {
        width: $cc-w-abs;
        height: $cc-w-abs * $cc-aspect-ratio;

        h1 {
            font-size: $cc-w-abs * $cc-h1-w-factor;
        }
    }

    .cc-back {
        img {
            width: $cc-w-abs * $cc-a-w-factor;
        }

        a {
            font-size: $cc-w-abs * $cc-a-w-factor;
        }
    }
}





 